.home-product-item__img {
    width: 70px;
    height: 70px;
    background-position: center;
    display: block;
    background-repeat      : no-repeat;
    border-top-left-radius : 2px;
    border-top-right-radius: 2px;
    background-size        : contain;
}